.poi-search-view
{
    width: 240px;
    height: 42px;
    display: flex;
    flex-direction: row;
    > .search-view
    {
        flex: 0 0 238px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 40px;
        align-items: center;

        > .text
        {
            width: 40px;
            font-size: 12px;
            height: 20px

        }

        > input
        {
            flex: 0 0 180px;

        }

        > .suggestion-list-view
        {
            margin-left: 40px;
            margin-right: 20px;
            z-inde: 2;
            width: 180px;
            height: 40px;
            padding: 0;

        }
    }
}
